.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p.address {
  font-size: 24px;
  line-height: .5em;
  text-align: center;
}

.box {
  margin: 30px;
  padding: 30px;
  width: 400px;
  height: 200px;
  display: contents;
}

.page-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 60px;
  padding-left: 60px;
  width: 100%;
  background-color: white;
}

/* img {
  /* display: inline-flex */
  /* object-fit: contain

} */ 

img.lunch {
  object-fit: fill;
}

img.breakfast {
  object-fit: fill;
}

menu {
  padding-top: 50px
}

.section-social .fa-4x {
  margin: 5px 10px;
}

.about-content {
  padding: 30px;
  height: 75%;
  font-size: 24px;
  line-height: 2.5rem;
  text-align: ".";
  background-color: whitesmoke;
}

/* .nav-wrapper {
  padding-right: 75px
} */