.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p.address {
  font-size: 24px;
  line-height: .5em;
  text-align: center;
}

.page-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: white;
}

/* img {
  /* display: inline-flex */
  /* object-fit: contain

} */ 

img.lunch {
  object-fit: fill;
  max-width: 100%;
  height: auto
}

img.breakfast {
  object-fit: fill;
  max-width: 100%;
  height: auto
}

menu {
  padding-top: 50px;
  background-color: red
}

.about-content {
  padding: 50px;
  height: 75%;
  width: 100%;
  font-size: 24px;
  line-height: 2.5rem;
  text-align: ".";
  background-color: whitesmoke;
}

/* Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer{
  background-color: #1a237e;
  padding: 20px;
  padding-bottom: 2.5px;
  text-align: center;
  vertical-align: text-bottom;
  justify-content: normal;
  font-size: 14px;
}

/* .footer-right {
  background-color: #ecedf3;

}

.footer-left {
  background-color: #999dc4;

} */

nav {
  background-color: #1a237e;
}

.nav-wrapper {
  padding-right: 75px
}

.span {
  margin-right: 80px;
}

.text-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

p.lead-text-center {
  font-weight: 400;
  font-size: 20px;
  color: black;
  display: flex;
  flex-wrap: wrap;
}

span {
  margin-right: 60px;
}

i {
  margin-right: 10px;
}

.col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}

a.social-link {
  margin: 20px;
  color: black;
}

/* Contact Widgets */
section.contact-widgets {
  background-color: whitesmoke;
  margin-bottom: 20px;
}

/* Home Page Logo */
section.contact-page-logo {
  background-color: white;
}

/* Home Page Address Info */
section.contact-info {
  padding: 20px;
  height: 100%;
  width: 100%;
  font-size: 24px;
  line-height: 2.5rem;
  background-color: whitesmoke;
  margin-bottom: 20px;
  margin-top: 20px
} 

/* About Blurb */
section.about-blurb {
  background-color: whitesmoke;
}

/* Social Media Section */
section.social {
  background-color: whitesmoke;
}